<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Page Title</title>
</head>
<style>
  /* Estilos generales */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  section {
    margin-top: 20px;
    text-align: center;
  }

  /* Estilos para el formulario de inicio de sesión */
  .form-style {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 350px;
    margin: 0 auto;
    background-color: white;
    text-align: left;
  }

  .form-style h2 {
    margin-top: 0;
  }

  .form-style label {
    display: block;
    margin-bottom: 5px;
  }

  .form-style input[type="email"],
  .form-style input[type="password"],
  .form-style input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .form-style button[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
</style>
<script>
  function submitForm() {
    // Obtener los valores de los campos de entrada
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;

    // Realizar alguna lógica con los valores obtenidos
    if (username === "" || password === "") {
      alert("Por favor, completa todos los campos");
      return;
    }
    // Realizar una solicitud POST al servidor con los valores de inicio de sesión
    fetch("/login", {
      method: "POST",
      body: JSON.stringify({ username, password }),
      headers: {
        "Content-Type": "application/json"
      },
    })
      .then(response => {
        if (response.ok) {
          // Redirigir al usuario a otra página después de iniciar sesión exitosamente
          window.location.href = "/protected";
        } else {
          // Mostrar un mensaje de error si el inicio de sesión falla
          alert("Error al iniciar sesión. Por favor, verifica tus credenciales.");
        }
      })
      .catch(error => {
        console.error("Error al realizar la solicitud:", error);
      });
    // Enviar el formulario
    // document.getElementById("loginForm").submit();
  }

  function logout() {
    // Realizar una solicitud POST al servidor para cerrar la sesión
    fetch("/logout", {
      method: "POST",
    })
      .then(response => {
        if (response.ok) {
          // Redirigir al usuario a otra página después de cerrar sesión exitosamente
          window.location.href = "/";
        } else {
          // Mostrar un mensaje de error si el cierre de sesión falla
          alert("Error al cerrar sesión. Por favor, inténtalo de nuevo.");
        }
      })
      .catch(error => {
        console.error("Error al realizar la solicitud:", error);
      });

  }
</script>

<body>
  <!-- Formulario de inicio de sesión -->
  <% if (username ?? false) { %>
    <section class="form-style">
      <h3>Hola <%= username %>
      </h3>
      <button type="button" onclick="logout()">Cerrar sesión</button>
    </section>
    <% } else { %>
      <section>
        <h1>¡Bienvenido!</h1>
        <p>Por favor inicia sesión o regístrate</p>
      </section>
      <section>
        <form class="form-style" id="loginForm">
          <h2>Iniciar sesión</h2>
          <div>
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required>
          </div>
          <div>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
          </div>
          <button type="button" onclick="submitForm()">Iniciar sesión</button>
        </form>
      </section>
      <section>
        <!-- Formulario de registro -->
        <form action="/register" method="POST" class="form-style">
          <h2>Registro</h2>
          <div>
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>
          </div>
          <div>
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
          </div>
          <button type="button">Registrarse</button>
        </form>
      </section>
      <% } %>

</body>

</html>